name: R-CMD-check

on:
  push:
    branches: [main, Testing]
  pull_request:
    branches: [main]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    env:
      NOT_CRAN: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::devtools
            any::testthat
          needs: check

      - name: Run unit tests
        run: R -q -e "devtools::test()"

      - name: R CMD check (skip vignettes)
        uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual", "--no-build-vignettes")'
          build_args: 'c("--no-build-vignettes")'
